In [2]:
# ASSIGNMENT 1
#WAP which accepts the user first & last name & prints them in a reverse order
fname= input("Enter your first name :")
lname= input("Enter your last name :")
print(lname + " " + fname)

sinha tanishka

In [ ]:
#WAP which accepts a sequence of comma-seperated numbers from the user and generates a list and a tuple with those numbers.
values= input("Input some numbers:")
list= values.split(",")
tuplee= tuple (list)
print("List: ", list)
print("Tuple: ", tuplee)

In [17]:
#WAP to display the first and last colour from the following list. color_list=["red","green","white","black"]
color_list=["red","green","white","black"]
print(color_list[0],color_list[3])

red black

In [19]:
#WAP to print the documents (syntax,description etc.) of python built in functions.
print (abs.__doc__)
print(int.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [20]:
#WAP to print the calender of a given month and year.
import calendar
y= int(input("Enter the year:"))
m= int(input("Enter the month:"))
print(calendar.month(y,m))

     March 2000
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [21]:
#WAP to calculate number of days between two dates.
from datetime import date
fdate= date(2014,7,2)
ldate= date(2014,7,11)
delta= ldate-fdate
print(delta.days)

9

In [22]:
#WAP to check whether a specified value is contained in a group of values.
def is_group_member(group_data,n):
    for value in group_data:
        if n == value:
            return True
    return False
print(is_group_member([1,5,8,3],3))
print(is_group_member([5,8,3],-1))

True
False

In [23]:
#WAP to create a histogram from given list of integers.
def histogram(items):
    for n in items:
        output= ''
        times= n
        while(times>0):
            output += '*'
            times = times-1
        print(output)
histogram([2,3,8,5])

**
***
********
*****

In [24]:
#WAP  to concatenate all elements in a list into a given list of integers.
def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result
print(concatenate_list_data([1,4,3,8]))

1438

In [1]:
#ARRAY
#WAP to create array of 5 integers and display the array items.
arr= [1,2,3,4,5]
print(arr)

[1, 2, 3, 4, 5]

In [2]:
#WAP to reverse the order of the items in the array.
arr= [1,2,3,4,5]
print("original array: ", arr)
arr.reverse()
print("reversed array:", arr)

original array:  [1, 2, 3, 4, 5]
reversed array: [5, 4, 3, 2, 1]

In [5]:
#WAP to get the number of occurences of specified element.
from array import*
arr=array('i', [1,2,3,4,4,4,2,5,3])
print("array:", arr)
print("occurences of the integer 4 is: "+str(arr.count(4)))

array: array('i', [1, 2, 3, 4, 4, 4, 2, 5, 3])
occurences of the integer 4 is: 3

In [12]:
#WAP to remove the first occurence of a specified element from array.
from array import*
arr= array('i',[1,2,3,4,3,2,4,3])
print("original array:" +str(arr))
print("after removing first occurence of 3:")
arr.remove(3)
print("modified array:"+str(arr))

original array:array('i', [1, 2, 3, 4, 3, 2, 4, 3])
after removing first occurence of 3:
modified array:array('i', [1, 2, 4, 3, 2, 4, 3])

In [ ]:
#dictionary
#WAP to sort (asc/desc) a dictionary by value.
dict={1:2, 3:4, 5:6}
print("original dictionary:", dict)

In [13]:
#WAP to add key to a dictionary.
dict={0:10, 1:20}
print("original dictionary:", dict)
dict.update({2:30})
print("updated dictionary:", dict)

original dictionary: {0: 10, 1: 20}
updated dictionary: {0: 10, 1: 20, 2: 30}

In [16]:
#WAP to concatenate following dictionaries.
dict1={1:10, 2:20}
print(dict1)
dict2={3:30, 4:40}
print(dict2)
dict3= {}
for d in (dict1, dict2): dict3.update(d)
print(dict3)

{1: 10, 2: 20}
{3: 30, 4: 40}
{1: 10, 2: 20, 3: 30, 4: 40}

In [25]:
#WAP to remove a key from dictinaries.
dict={'1':2, 'b':3, 'c':4}
print("original dictionary:", dict)
if '1' in dict:
    del dict['1']
print("new dict:", dict)
dict.pop('b')
print(dict)

original dictionary: {'1': 2, 'b': 3, 'c': 4}
new dict: {'b': 3, 'c': 4}
{'c': 4}

In [27]:
#WAP to print a dictionary in table format.
dict={ (0,0):'sam', (0,1):21, (0,2):'data structure',
       (1,0):'rick', (1,1):22, (1,2): 'machine learning',
       (2,0):'mat', (2,1): 21, (2,2): 'OOP'
       }
print("NAME", "AGE", "COURSE")
for i in range(3):
    for j in range(3):
        print(dict[(i,j)], end=' ')
    print()

NAME AGE COURSE
sam 21 data structure
rick 22 machine learning
mat 21 OOP

In [28]:
#SETS
#WAP to create a set.
set={"carrot","apple","banana"}
print(set)

{'apple', 'banana', 'carrot'}

In [30]:
#WAP to iteration over set.
set={"carrot","apple","banana"}
for val in set:
    print(val)

apple
banana
carrot

In [31]:
#WAP to add member in a set.
set={"carrot","apple","banana"}
print("set:", set)
set.add("cherry")
print("new set:", set)

set: {'apple', 'banana', 'carrot'}
new set: {'cherry', 'apple', 'banana', 'carrot'}

In [35]:
#WAP to remove item from a set
set={"carrot","apple","banana"}
print("set", set)
set.remove("carrot")
print("new set", set)

set {'apple', 'banana', 'carrot'}
new set {'apple', 'banana'}

In [36]:
#LIST
#WAP to sum all the items in the list
list=[1,2,3,4,5]
print("list:", list)
total= sum(list)
print("sum of elements in list:", total)

list: [1, 2, 3, 4, 5]
sum of elements in list: 15

In [ ]:
#WAP to remove duplictes from list****
list1=[1,2,3,4,5,3,4,6]
print("original list:", list1)
res= [*set(list1)]
print("modified list:", res)

In [40]:
#WAP to get smallest number from list
list1=[1,2,3,4,5,3,4,6]
print("smallest number in list:", min(list1))

smallest number in list: 1

In [42]:
#WAP to copy a list
list1=[1,2,3,4,5,3,4,6]
print("original list:", list1)
list= list1.copy()
print("copied list:",list)

original list: [1, 2, 3, 4, 5, 3, 4, 6]
copied list: [1, 2, 3, 4, 5, 3, 4, 6]

In [44]:
#WAP to get difference between two list
list1=[1,2,3,4,5,6,7,8]
print("list1:", list1)
list2=[5,6,7,8]
print("list2:", list2)
list3=[]
for element in list1:
    if element not in list2:
        list3.append(element)
print("list3:",list3)

list1: [1, 2, 3, 4, 5, 6, 7, 8]
list2: [5, 6, 7, 8]
list3: [1, 2, 3, 4]

In [45]:
#TUPLE
#WAP to create a tuple
tuple=('lata', 1, 'seema')
print(tuple)

('lata', 1, 'seema')

In [46]:
#WAP to reverse a tuple
def reverse(tuples):
    new_tup=()
    for k in reversed(tuples):
        new_tup= new_tup+(k,)
    print(new_tup)
tuples= (1,2,3,4,5,6)
reverse(tuples)

(6, 5, 4, 3, 2, 1)

In [47]:
#WAP to find repeated item from tuple
tuples=(1,2,3,3,4,3,4,5,3)
print(tuples)
count=tuples.count(3)
print(count)

(1, 2, 3, 3, 4, 3, 4, 5, 3)
4

In [48]:
#WAP to check whether item exist in tuple
tuple=(1,2,3,4,5,6)
n=6
res= n in tuple
print("does tuple contain element?", res)

does tuple contain element? True

In [49]:
#STRINGS
#WAP to calculate length of string
str="hello world"
print(len(str))

11

In [50]:
#WAP to count the character frequency
from collections import Counter
str="hello"
res= Counter(str)
print(res)

Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [51]:
#WAP to reverse a string
def reverse(s):
    str= " "
    for i in s:
        str= i +str
    return str
s= "hello"
print(s)
print(reverse(s))

hello
olleh

In [54]:
#WAP that takes a list of words and returns the length one
def longest_length(a):
    max1= len(a[0])
    temp= a[0]
    for i in a:
        if(len(i)>max1):
            max1= len(i)
            temp=i
    print("the word with longest length is", temp , "and its length is:", max1)
a = (input("enter the string:"))
longest_length(a)

the word with longest length is h and its length is: 1